@charset "utf-8";
body {
	background-image: url('gambar/atas.jpg');
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	background-color: #fff;
}
.all {
	padding: 0px;
	width: 100%;
	/*box-shadow:0 -5px 30px #000;
	/* box-shadow : horizontal-position vertical-position size color*/
}

.all .text{
	color:#fff;
	font-size:15px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 150px;
	font-family: arial;
} 

.all .navbar {
	background-color: #262626;
	height: 120px;
}

.all .navbar .menu {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 850px;
	list-style-type: none;
}
.all .navbar .menu li {
	display: inline;
	margin-right: 10px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	border-radius: 0px;
}
.all .navbar .menu li a {
	color: #747677;
	text-decoration: none;
	font-family: arial;
}
.all .navbar .menu li:hover {
	background: #fff;
}

.all .content .rightbar {
	float: left;
	width: 677px;
	padding-bottom: 20px;
}


.listkiri {
	padding: 1px;
	height: 300px;
	width: 300px;
	border: 2px solid blue;
}